# HTTP serveur
PORT=

# Postgres Database URL
PG_URL=postgres://user:password@localhost:5432/database

# Postgres Database name
DB_NAME= "seniorlove"

# Postgres Database user name
DB_USER= "seniorlove"

#private token key
TOKEN_KEY = 'Sen1@rL0ve'

#cors
ALLOWED_DOMAINS='*'
