# environment
NODE_ENV=development
# NODE_ENV=production
# NODE_ENV=test

# HTTP serveur
PORT=

# Postgres Database URL
PG_URL=postgres://user:password@localhost:5432/database-name

#private token key
TOKEN_KEY=

#cors
ALLOWED_DOMAINS=

#Cloudinary credentials
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

#Admin credentials
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
