<%- include ('head') %>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center w-100">
        <!-- Title aligned to the right on large screens and centered on small screens -->
        <h2 class="mb-2 mb-lg-0 text-lg-right text-center">Senior Love - Administrateur</h2>
        <div class="d-flex flex-column flex-lg-row align-items-center">
          <!-- Logout link with no underline and gray color -->
          <a href="/admin/logout" class="text-gray-600 text-decoration-none mb-2 mb-lg-0">Déconnexion</a>
          <!-- Image resized -->
          <img src="/logos/user_3161848.png" alt="user" class="img-fluid d-none d-lg-block"
            style="width: 30px; height: 30px;">
        </div>
      </div>
    </div>
  </nav>