<nav class="col-md-3 d-flex flex-column p-3 border-right">
  <div class="mb-4">
    <h3>Utilisateurs</h3>
    <a href="/admin/users/pending" class="d-block mb-2 text-dark text-decoration-none">En attente de validation</a>
    <a href="/admin/users" class="d-block text-dark mb-2 text-decoration-none">Tous les utilisateurs</a>
    <a href="/admin/users/banished" class="d-block text-dark mb-2 text-decoration-none">Utilisateurs banis</a>
  </div>
  <div>
    <h3>Événements</h3>
    <a href="/admin/events" class="d-block mb-2 text-dark text-decoration-none">Liste</a>
    <a href="#" class="d-block text-dark text-decoration-none">Créer</a>
  </div>
</nav>